[submodule "datasets/OpenMIIR/openmiir"]
	path = datasets/OpenMIIR/openmiir
	url = https://github.com/sstober/openmiir
[submodule "models/tensorflow_models"]
	path = models/tensorflow_models
	url = https://github.com/iranroman/tensorflow_models
